*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(180, 180, 180);
}

#vain{
    border: solid gray;
    border-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px;
}