body{
    background-color: rgb(88, 88, 148);
    margin: 190px;
}

.cadastro{
    
    display: flex;
    flex-direction: column;
   align-items: center;

}

.input{

    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 140%;
    justify-content: space-around;
    
}
.vain{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butaodojao{
    
    border: solid #393875;
    border-radius: 0px;
}

.nome{
    border: solid #393875;
    border-radius: 5px;
}

.email{
    border: solid #393875;
    border-radius: 5px;
}

.idade{
    border: solid #393875;
    border-radius: 5px;
}

.go{
    border: solid #393875;

    
}

button {

}