body{
    background-color: rgb(224, 224, 224);
    
}

#title{
    text-align: center;
    color: rgb(201, 0, 0);
    font-family: minecraft;
}

.img{
    display: flex;
    margin: auto;
    border-radius: 10%;
    border: 5px solid  rgb(62, 62, 62);
    align-items: center;
    width: 25%;
}
.Nome {
    text-align: center;
    font-family: Minecraft;
}

.Gosc{
    color: #ff0000;
}

.instagram{
    position: 30;
}
